div.head{
    text-align:center;
    background-color:rgb(16, 122, 209);
    display:grid;
    grid-template-columns: repeat(4,1fr);
    box-sizing: border-box;
    padding: 2%;
    justify-items: center;
}

.head2{
    text-align:center;
}
.head > img{
    max-width: 100%;
}
.list{
    text-align:left;
}
footer{
    text-align:center;
    background-color: #1a5ec4;
}
.update{
    text-align:center;
    
}
html{
    margin-left: 25%;
    margin-right: 25%;
    background-color: #0eb1ce;
}
.logo >img{
    max-width: 50%;
    float:left
}
ul.nav {
    padding-left: 0px;
    background-color: #1b0ece;
    text-align: center;
  }
  ul.nav > li {
    display: inline-block;
    padding: 10px 20px;
  }
  ul.nav > li:hover {
    background-color: #2779BF;
  }
  ul.nav > li > a {
    color: white;
    text-decoration: none;
  }
  
  .main_info{
      margin-top: 20%;
      text-align: center;
  }
  img{
      float:left;
  }
  .info{
      margin-top: 20%;
  }
  .info>h1{
      text-align: center;
  }
  .detail{
      margin-left: 10%;
      margin-top: 10%;
  }
  .A{
    font-size: 2em;
    max-width: 25%;
    margin-left: 10%;
  }
  .B{
    font-size: 2em;
    max-width: 25%;
    margin-left: 35%;
    margin-top: -30.4%;
  }
  .C{
    font-size: 2em;
    max-width: 25%;
    margin-left: 65%;
    margin-top: -30%;
  }
  .sec{
    background-color: #1a5ec4;
  }
  .prim{
    background-color: #1b0ece;
  }
.link{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-left: 35%;
}



/* dsjaiol
dsajk